<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="../additional_files/pgmain.min.css" rel="stylesheet" type="text/css">
    <title>Fast Input/Output</title>
</head>
<body>
    <a href="index_templates.html"><button>Back</button></a>
<pre>
template&lt;typename T&gt;
struct BIT{
    int n;
    vector&lt;T&gt;t;
    BIT(int m):n(m),t(m+1,0){}
    void ins(int x,int k){if(!x)return;for(;x&lt;=n;x+=x&amp;-x)t[x]+=k;}
    int ask(int x){int z=0;for(;x;x^=x&amp;-x)z+=t[x];return z;}
    int ask(int l,int r){return ask(r)-ask(l-1);}
};
</pre>
</body>
</html>