<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="../additional_files/pgmain.min.css" rel="stylesheet" type="text/css">
    <title>Fast Input/Output</title>
</head>
<body>
    <a href="index_templates.html"><button>Back</button></a>
<pre>
template&lt;typename T, const int M = sizeof(T) * 8&gt;
struct Liner_Basis {
    T a[M];
    size_t sz;
    Liner_Basis() : a(), sz() {}
    size_t size() const {
        return sz;
    }
    void clear() {
        memset(a, 0, sizeof a);
    }
    bool ins(T x) {
        for (size_t i = M - 1; ~i &amp;&amp; x; --i)
            if (x &gt;&gt; i &amp; 1) {
                if (a[i]) x ^= a[i];
                else return a[i] = x, true;
            }
        return false;
    }
    Liner_Basis&amp; operator+=(const Liner_Basis&amp;_) {
        for (T x : _.a) if (x) this-&gt;ins(x);
        return *this;
    }
    Liner_Basis operator+(const Liner_Basis&amp;_) {
        Liner_Basis z = *this;
        return z += _;
    }
    T qry(T x = 0) {
        for (size_t i = M - 1; ~i; --i)
            if ((x ^ a[i]) &gt; x) x ^= a[i];
        return x;
    }
};
template&lt;typename T&gt;
using LB = Liner_Basis&lt;T&gt;;
</pre>
</body>
</html>