<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="../additional_files/pgmain.min.css" rel="stylesheet" type="text/css">
    <title>Fast Input/Output</title>
</head>
<body>
    <a href="index_templates.html"><button>Back</button></a>
<pre>
template&lt;typename T, class F&gt;
struct Spares_Table {
    using ui = size_t;
    std::vector&lt;std::vector&lt;T&gt;&gt; f;
    std::vector&lt;ui&gt; lg;
    F mg;
    ui n;
    Spares_Table(const std::vector&lt;T&gt;&amp; v) {
        n = v.size();
        lg.resize(n + 1), lg[0] = -1;
        for (ui i = 1; i &lt;= n; ++i) {
            lg[i] = lg[i &gt;&gt; 1] + 1;
        }
        f = std::vector(n, std::vector&lt;T&gt;(lg[n] + 1));
        for (ui i = 0; i &lt; n; ++i) {
            f[i][0] = v[i];
        }
        for (ui j = 1; j &lt;= lg[n]; ++j) { 
            for (ui i = 0; i + (1 &lt;&lt; j) - 1 &lt; n; ++i) {
                f[i][j] = mg(f[i][j - 1], f[i + (1 &lt;&lt; j - 1)][j - 1]);
            }
        }
    }
    Spares_Table(const T* a, const ui&amp; m) {
        n = m;
        lg.resize(n + 1), lg[0] = -1;
        for (ui i = 1; i &lt;= n; ++i) {
            lg[i] = lg[i &gt;&gt; 1] + 1;
        }
        f = std::vector(n, std::vector&lt;T&gt;(lg[n] + 1));
        for (ui i = 0; i &lt; n; ++i) {
            f[i][0] = a[i];
        }
        for (ui j = 1; j &lt;= lg[n]; ++j) {
            for (ui i = 0; i + (1 &lt;&lt; j) - 1 &lt; n; ++i) {
                f[i][j] = mg(f[i][j - 1], f[i + (1 &lt;&lt; j - 1)][j - 1]);
            }
        }
    }
    T ask(const ui&amp; l, const ui&amp; r) {
        if (l &gt; r) return T();
        ui x = lg[r - l + 1];
        return mg(f[l][x], f[r - (1 &lt;&lt; x) + 1][x]);
    }
};
template&lt;typename T, class F&gt;
using ST = Spares_Table&lt;T, F&gt;;
</pre>
</body>
</html>